<a href="https://colab.research.google.com/github/mukeshjnv/500-AI-Machine-learning-Deep-learning-Computer-vision-NLP-Projects-with-code/blob/main/Python_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [11]:
# Find employee with second higest salary
df = pd.DataFrame({
    'Employees': ['A', 'B', 'C', 'D', 'E'],
    'Salary': [90000, 120000, 90000, 110000, 110000]
})

second_higest_salary=df['Salary'].drop_duplicates().sort_values(ascending=False).iloc[1]
df[df['Salary']==second_higest_salary]['Employees']

3    D
4    E
Name: Employees, dtype: object